{% extends "layout.html" %}
{% block body %}
    <!-- Page Header -->
    <header class="masthead" style="background-image: url('{{ url_for('static', filename='img/about-bg.jpg') }}')">
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <div class="page-heading">
              <h1>About Me</h1>
              <span class="subheading">This is what I do.</span>
            </div>
          </div>
        </div>
      </div>
    </header>

    <!-- Main Content -->
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <p>Hello! I'm Abhishek Malu, a passionate third-year computer science student pursuing my degree at MBM University, Jodhpur. With a strong curiosity for technology and its endless possibilities, I aspire to make a positive impact in the field of software development.</p>
          <p>Throughout my academic journey, I have gained a solid foundation in computer science principles, with a focus on web development, algorithms, and database management. I am proficient in languages such as Python, Java, and JavaScript, and have hands-on experience with frameworks like Flask and Django.</p>
          <p>One of my strengths lies in translating complex ideas into practical solutions. I have worked on several projects, both individually and in teams, where I have designed and implemented web applications, leveraging responsive design, user experience principles, and agile development methodologies. These projects have allowed me to sharpen my problem-solving skills and learn how to collaborate effectively with fellow developers.</p>
          <p>As a motivated learner, I constantly seek new technologies and industry trends to stay updated. I am particularly interested in exploring the potential of machine learning and data science to solve real-world problems. I am eager to apply my skills and contribute to innovative projects that push the boundaries of technology.</p>
        </div>
      </div>
    </div>

   {% endblock %}